html {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e3d3d;
}

#container {
  width: 100%;
  height: 50rem;
  border: 2px solid #333;
  display: flex;
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

.box {
  position: absolute;
  background-color: transparent;
  border: none;
  max-width: 200px;
}

.images {
  width: 100%;
  min-width: 100px;
  /* height: 200px; */
  object-fit: contain;
  padding: 0;
}

.draggable {
  cursor: pointer;
}
